<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Simply Social</title>

    <!--
        NORMALIZE.CSS
        Going to load this up via cdn since it's pretty common out there and will most likely be cached
    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"/>


    <!-- CUSTOM SIMPLY SOCIAL STYLES -->
    <link rel="stylesheet" href="static/<%= grunt.config.get('pkg.name') %>-<%= grunt.config.get('pkg.version') %>.css"/>


    <!--[if !IE 7]>
        <style type="text/css">
            #wrap {display:table;height:100%}
        </style>
    <![endif]-->

</head>
<body ng-controller="AppController as appCtrl">


    <!-- BEGIN STICKY FOOTER WRAPPER -->
    <div id="wrap">

        <!--

            SITE-WIDE HEADER BAR

            Contains the logo, new message, settings menu and search bar

        -->
        <header>
            <div class="container">

                <!-- BEGIN LOGO -->
                <div class="l-logo-container">
                    <a ui-sref="feed.posts.list" title="go back to posts feed">
                        <div class="ico-logo l-logo"></div>

                        <h1 class="l-logo-title">
                            <span class="simply">simply</span><span class="social">social</span>
                        </h1>
                    </a>
                </div>


                <!-- BEGIN NEW MESSAGE, SEARCH BOX AND ACCOUNT AVATAR -->
                <div class="l-header-controls">
                    <div ng-click="appCtrl.showModal = true" class="ico-new-message l-ico-new-message"></div>

                    <div class="m-header-search-control l-header-search-control">
                        <input class="m-header-search-input" type="text" />
                        <div class="ico-search-glass l-ico-search-glass"></div>
                    </div>


                    <!-- ACCOUNT SETTINGS POPOVER MENU -->
                    <div class="m-popover">

                        <img class="m-header-settings-avatar l-header-settings-avatar"
                             src="img/avatars/settings-avatar-small.jpg"
                             alt="settings-avatar"/>

                        <ul>
                            <li><a href="">Profile</a></li>
                            <li><a href="">Followers</a></li>
                            <li><a href="">Following</a></li>
                            <li><a ui-sref="settings">Settings</a></li>
                        </ul>
                    </div>


                    <div class="ico-toggle-expand"></div>
                </div>



                <!--

                    CUSTOM SIMPLE MODAL

                    Making use of the custom modal directive to allow users
                    to create a new message.

                -->
                <div simple-modal show="appCtrl.showModal">
                    <h4 class="m-create-new-message-title l-create-new-message-title">Create new message</h4>


                    <textarea class="m-create-new-message-textarea" cols="30" rows="5"></textarea>

                    <div class="m-create-new-message-add-photo l-create-new-message-add-photo">
                        <div class="ico-add-photo-gray"></div>
                        <span>Add Photo</span>
                    </div>

                    <div class="m-create-new-message-add-video l-create-new-message-add-video">
                        <div class="ico-add-video-gray"></div>
                        <span>Add Video</span>
                    </div>

                    <button class="m-btn m-btn-default l-create-new-message-button">Post</button>
                </div>


            </div>
        </header>


        <!--

             INJECTS ANGULAR TEMPLATES

             This is where our angular templates get injected

        -->
        <div id="main" ui-view></div>


    </div>
    <!-- END STICKY FOOTER WRAPPER -->


    <footer>

        <nav class="m-footer-nav l-footer-nav">
            <a href="">About Us</a>
            <a href="">Support</a>
            <a href="">Privacy</a>
            <a href="">Terms</a>
            <span>&copy; 2014 Simply Social</span>
        </nav>

    </footer>


    <!-- LOAD VENDOR SCRIPTS -->
    <script src="static/vendor-<%= grunt.config.get('pkg.version') %>.js"></script>

    <!-- LOAD CUSTOM APP SCRIPTS -->
    <script src="static/<%= grunt.config.get('pkg.name') %>-<%= grunt.config.get('pkg.version') %>.js"></script>

</body>
</html>
