
/* ====================================================================================================

	POSTS STYLES

    modules and layouts for the "Post" and "Photos" module

======================================================================================================= */

.m-post-list {
    max-width: 575px;
}

.m-post-tiles {
    max-width: 1174px;
}

.m-post {
    border: 1px solid @lightest-gray;
    border-radius: 3px;
    height: auto;
    width: 100%;
}

.m-tile {
    border: 1px solid @lightest-gray;
    border-radius: 3px;
    height: auto;
    width: 30.33%;
}

.m-comment {
    position: relative;
    height: auto;
}

.m-comment:not(:last-child){
    border-bottom: 1px solid #F7F8FA;
}

.m-comment:first-child {
    border-top: 1px solid #F7F8FA;
}

.m-comment-reply-container {
    padding: 25px;
    width: 100%;
}

.m-comment-reply-input {
    height: 40px;
    width: 100%;
    color: #70767f;
    border-radius: 3px;
    border: 1px solid #dee1e5;
    padding-left: 5px;
    padding-right: 5px;
}

.m-post-liner {
    padding: 25px 25px 0 25px;
}

.m-post-title a {
    font-family: @regular-font;
    font-size: 16px;
    color: @dark-gray;
    text-decoration: none;
    font-weight: lighter;
}

.m-post-age {
    color: @light-gray;
}

.m-post-text {
    font-family: @regular-font;
    font-weight: lighter;
    color: @gray;
    font-size: 15px;
    margin-top: 0;
    word-wrap: break-word;
}

.m-post-text a {
    color: @light-gray;
    text-decoration: none;
}

.m-post-link {
    color: @light-gray;
    text-decoration: none;
}

.m-post-image {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 100%;
}

.m-post-expand {
    font-size: 13px;
    margin-right: 6px;
}

.meta {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.meta li {
    display: inline;
}

.meta li:first-child,
.meta li:nth-child(2) {
    margin-right: 15px;
}

.m-comment-container {
    background-color: @off-white;
}



.l-posts {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.l-post-tile {
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 20px;
}

.l-post {
    position: relative;
    margin-bottom: 20px;
}

.l-post-avatar {
    vertical-align: top;
    margin-right: 15px;
}

.l-post-liner {
    position:relative;
}

.l-post-title {
    margin-top: 0;
    margin-bottom: 9px;
    display: inline-block;
}

.l-post-text {
    margin-left: 60px;
    position: relative;
    top: -14px;
}

.l-comment-avatar {
    vertical-align: top;
    margin-right: 15px;
}

.l-meta-top {
    position: absolute;
    right: 25px;
    top: 25px;
}

.l-meta-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
}

.l-post-image {
    top: 5px;
    position: relative;
}

.l-ico-post-expand-toggle {
    top: -2px;
    position: relative;
}

.l-post-expand-toggle-container {
    margin-left: 60px;
    margin-bottom: 9px;
    top: -10px;
    position: relative;
}
