
/* ====================================================================================================

	FEED STYLES

    modules and layouts for the "Feed" module

======================================================================================================= */

.m-hero-unit {
    position: relative;
    background-image: url('../img/hero-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 425px;
    padding-top: 120px;
}

.m-post-input-box {
    background-color: @accent-color;
    height: 156px;
    width: 575px;
    opacity: 0.7;
    padding-top: 45px;
    padding-bottom: 37px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 3px;
}

.m-post-input {
    background-color: rgba(0, 204, 153, 0.7);
    border: 0;
    color: rgba(255, 255, 255, 0.7);
    font-family: @light-font;
    font-weight: 100;
    font-size: 32px;
    letter-spacing: 0.5px;
    width: 100%;
}

.m-post-input:focus {
    outline: 0;
}

.m-post-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-family: @light-font;
    font-weight: lighter;
}

.m-post-input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-family: @light-font;
    font-weight: lighter;
}

.m-post-input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-family: @light-font;
    font-weight: lighter;
}

.m-post-input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-family: @light-font;
    font-weight: lighter;
}

.m-hero-command-container {
    width: 575px;
}

.m-hero-unit-nav a {
    color: @light-gray;
    font-family: @bold-font;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 10px;
    margin-right: 40px;
    display: inline-block;
}

.m-hero-unit-nav a:active,
.m-hero-unit-nav a:hover {
    color: #fff;
    border-bottom: 4px solid #00cc99;
}

.active{
    color: #fff !important;
    border-bottom: 4px solid #00cc99;
}


.m-add-photo span,
.m-add-video span {
    color: #fff;
    margin-left: 6px;
}



.l-post-input-box {
    margin-left: auto;
    margin-right: auto;
}

.l-post-input {
    display: block;
}

.l-add-photo,
.l-add-video {
    display: inline-block;
    margin-top: 31px;
}

.l-add-photo,
.l-create-new-message-add-photo {
    margin-right: 39px;
}

.l-hero-unit-command-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: -99px;
}

.l-hero-unit-commands {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 15px;
}

.l-ico-list {
    margin-right: 14px;
}
