<div class="m-hero-unit" ng-controller="FeedController as vm" ng-init="vm.initialize()">

    <!-- WHAT'S NEW INPUT BOX -->
    <section class="m-post-input-box l-post-input-box">

        <input class="m-post-input l-post-input" type="text" placeholder="What's on your mind?" autofocus />

        <div class="m-add-photo l-add-photo">
            <div class="ico-add-photo"></div>
            <span>Add Photo</span>
        </div>

        <div class="m-add-video l-add-video">
            <div class="ico-add-video"></div>
            <span>Add Video</span>
        </div>

    </section>


    <section class="m-hero-command-container l-hero-unit-command-container">

        <!-- MAIN FEED NAVIGATION -->
        <nav class="m-hero-unit-nav l-hero-unit-nav">
            <a ui-sref="feed.posts.list" ng-class="{ active: vm.isPostStateActive }">all posts</a>
            <a ui-sref="feed.photos.list" ng-class="{ active: vm.isPhotoStateActive }">photos</a>
            <a href="">videos</a>
        </nav>


        <!-- TOGGLE LIST OR TILE VIEW -->
        <div class="l-hero-unit-commands">
            <div ng-click="vm.toggleListView()"
                 ng-class="{ 'ico-list-active': vm.isListStateActive }"
                 class="ico-list l-ico-list" ></div>

            <div ng-click="vm.toggleTileView()"
                 ng-class="{ 'ico-tile-active': vm.isTileStateActive }"
                 class="ico-tile hidden-sm hidden-xs"></div>
        </div>

    </section>

</div>


<!--

    INJECTS NESTED SUB VIEWS / STATES

    Our various nested feed views/states
    get injected here via ui-router

-->
<div ui-view></div>

