
@font-face {
    font-family: 'proxima_novablack';
    src: url('proximanova-black-webfont.eot');
    src: url('proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('proximanova-black-webfont.woff2') format('woff2'),
    url('proximanova-black-webfont.woff') format('woff'),
    url('proximanova-black-webfont.ttf') format('truetype'),
    url('proximanova-black-webfont.svg#proxima_novablack') format('svg');
    font-weight: normal;
    font-style: normal;

}



//
//@font-face {
//    font-family: 'proxima_novaextrabold';
//    src: url('proximanova-extrabld-webfont.eot');
//    src: url('proximanova-extrabld-webfont.eot?#iefix') format('embedded-opentype'),
//    url('proximanova-extrabld-webfont.woff2') format('woff2'),
//    url('proximanova-extrabld-webfont.woff') format('woff'),
//    url('proximanova-extrabld-webfont.ttf') format('truetype'),
//    url('proximanova-extrabld-webfont.svg#proxima_novaextrabold') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}
//
//
//
//
//@font-face {
//    font-family: 'proxima_novalight_italic';
//    src: url('proximanova-lightit-webfont.eot');
//    src: url('proximanova-lightit-webfont.eot?#iefix') format('embedded-opentype'),
//    url('proximanova-lightit-webfont.woff2') format('woff2'),
//    url('proximanova-lightit-webfont.woff') format('woff'),
//    url('proximanova-lightit-webfont.ttf') format('truetype'),
//    url('proximanova-lightit-webfont.svg#proxima_novalight_italic') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}
//
//
//
//
//@font-face {
//    font-family: 'proxima_novalight';
//    src: url('proximanova-light-webfont.eot');
//    src: url('proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
//    url('proximanova-light-webfont.woff2') format('woff2'),
//    url('proximanova-light-webfont.woff') format('woff'),
//    url('proximanova-light-webfont.ttf') format('truetype'),
//    url('proximanova-light-webfont.svg#proxima_novalight') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}
//
//
//
//
//@font-face {
//    font-family: 'proxima_nova_rgbold_italic';
//    src: url('proximanova-boldit-webfont.eot');
//    src: url('proximanova-boldit-webfont.eot?#iefix') format('embedded-opentype'),
//    url('proximanova-boldit-webfont.woff2') format('woff2'),
//    url('proximanova-boldit-webfont.woff') format('woff'),
//    url('proximanova-boldit-webfont.ttf') format('truetype'),
//    url('proximanova-boldit-webfont.svg#proxima_nova_rgbold_italic') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}
//
//
//
//
//@font-face {
//    font-family: 'proxima_nova_rgbold';
//    src: url('proximanova-bold-webfont.eot');
//    src: url('proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
//    url('proximanova-bold-webfont.woff2') format('woff2'),
//    url('proximanova-bold-webfont.woff') format('woff'),
//    url('proximanova-bold-webfont.ttf') format('truetype'),
//    url('proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}
//
//
//
//
//@font-face {
//    font-family: 'proxima_nova_condensedlight';
//    src: url('proximanovacond-light-webfont.eot');
//    src: url('proximanovacond-light-webfont.eot?#iefix') format('embedded-opentype'),
//    url('proximanovacond-light-webfont.woff2') format('woff2'),
//    url('proximanovacond-light-webfont.woff') format('woff'),
//    url('proximanovacond-light-webfont.ttf') format('truetype'),
//    url('proximanovacond-light-webfont.svg#proxima_nova_condensedlight') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}
//
//
//
//
//@font-face {
//    font-family: 'proxima_novaregular_italic';
//    src: url('proximanova-regularit-webfont.eot');
//    src: url('proximanova-regularit-webfont.eot?#iefix') format('embedded-opentype'),
//    url('proximanova-regularit-webfont.woff2') format('woff2'),
//    url('proximanova-regularit-webfont.woff') format('woff'),
//    url('proximanova-regularit-webfont.ttf') format('truetype'),
//    url('proximanova-regularit-webfont.svg#proxima_novaregular_italic') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}
//
//
//
//
//@font-face {
//    font-family: 'proxima_novasemibold_italic';
//    src: url('proximanova-semiboldit-webfont.eot');
//    src: url('proximanova-semiboldit-webfont.eot?#iefix') format('embedded-opentype'),
//    url('proximanova-semiboldit-webfont.woff2') format('woff2'),
//    url('proximanova-semiboldit-webfont.woff') format('woff'),
//    url('proximanova-semiboldit-webfont.ttf') format('truetype'),
//    url('proximanova-semiboldit-webfont.svg#proxima_novasemibold_italic') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}
//
//
//
//
//@font-face {
//    font-family: 'proxima_nova_rgregular';
//    src: url('proximanova-regular-webfont.eot');
//    src: url('proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
//    url('proximanova-regular-webfont.woff2') format('woff2'),
//    url('proximanova-regular-webfont.woff') format('woff'),
//    url('proximanova-regular-webfont.ttf') format('truetype'),
//    url('proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}
//
//
//
//
//@font-face {
//    font-family: 'proxima_novasemibold';
//    src: url('proximanova-semibold-webfont.eot');
//    src: url('proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
//    url('proximanova-semibold-webfont.woff2') format('woff2'),
//    url('proximanova-semibold-webfont.woff') format('woff'),
//    url('proximanova-semibold-webfont.ttf') format('truetype'),
//    url('proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}
//
//
//
//
//@font-face {
//    font-family: 'proxima_nova_condensedSBdIt';
//    src: url('proximanovacond-semiboldit-webfont.eot');
//    src: url('proximanovacond-semiboldit-webfont.eot?#iefix') format('embedded-opentype'),
//    url('proximanovacond-semiboldit-webfont.woff2') format('woff2'),
//    url('proximanovacond-semiboldit-webfont.woff') format('woff'),
//    url('proximanovacond-semiboldit-webfont.ttf') format('truetype'),
//    url('proximanovacond-semiboldit-webfont.svg#proxima_nova_condensedSBdIt') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}
//
//
//
//
//@font-face {
//    font-family: 'proxima_nova_condensedRgIt';
//    src: url('proximanovacond-regularit-webfont.eot');
//    src: url('proximanovacond-regularit-webfont.eot?#iefix') format('embedded-opentype'),
//    url('proximanovacond-regularit-webfont.woff2') format('woff2'),
//    url('proximanovacond-regularit-webfont.woff') format('woff'),
//    url('proximanovacond-regularit-webfont.ttf') format('truetype'),
//    url('proximanovacond-regularit-webfont.svg#proxima_nova_condensedRgIt') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}
//
//
//
//
//@font-face {
//    font-family: 'proxima_nova_cn_rgregular';
//    src: url('proximanovacond-regular-webfont.eot');
//    src: url('proximanovacond-regular-webfont.eot?#iefix') format('embedded-opentype'),
//    url('proximanovacond-regular-webfont.woff2') format('woff2'),
//    url('proximanovacond-regular-webfont.woff') format('woff'),
//    url('proximanovacond-regular-webfont.ttf') format('truetype'),
//    url('proximanovacond-regular-webfont.svg#proxima_nova_cn_rgregular') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}
//
//
//
//
//@font-face {
//    font-family: 'proxima_nova_condensedSBd';
//    src: url('proximanovacond-semibold-webfont.eot');
//    src: url('proximanovacond-semibold-webfont.eot?#iefix') format('embedded-opentype'),
//    url('proximanovacond-semibold-webfont.woff2') format('woff2'),
//    url('proximanovacond-semibold-webfont.woff') format('woff'),
//    url('proximanovacond-semibold-webfont.ttf') format('truetype'),
//    url('proximanovacond-semibold-webfont.svg#proxima_nova_condensedSBd') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}
//
//
//
//
//@font-face {
//    font-family: 'proxima_nova_condensedLtIt';
//    src: url('proximanovacond-lightit-webfont.eot');
//    src: url('proximanovacond-lightit-webfont.eot?#iefix') format('embedded-opentype'),
//    url('proximanovacond-lightit-webfont.woff2') format('woff2'),
//    url('proximanovacond-lightit-webfont.woff') format('woff'),
//    url('proximanovacond-lightit-webfont.ttf') format('truetype'),
//    url('proximanovacond-lightit-webfont.svg#proxima_nova_condensedLtIt') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}
