
<!--

    "POST" DIRECTIVE TEMPLATE

    Directive that displays our posts, both normal and photo/video

-->
<div class="m-post-liner l-post-liner">

    <!-- POST HEADER -->
    <img class="l-post-avatar" ng-src="img/avatars/{{post.avatar}}" alt="avatar" />

    <h4 class="m-post-title l-post-title">
        <a href="">{{post.name}}</a>
    </h4>

    <!-- POST META (LIKE, LOVE, REPLY) -->
    <ul class="meta l-meta-top">
        <li><div class="ico-reply"></div></li>
        <li><div class="ico-like"></div></li>
        <li><span class="m-post-age">{{post.postAge}}</span></li>
    </ul>



    <!-- THE ACTUAL POST "MESSAGE" -->
    <p class="m-post-text l-post-text" ng-bind-html="post.message"></p>


    <!--
        THE POST EXPAND / COLLAPSE TOGGLE
    -->

    <!-- If the posts doesn't contain a pic/video and if there are comments, then show the toggle -->
    <div ng-show="post.containsPicture == false && post.comments.length" class="l-post-expand-toggle-container">

        <!-- If the comments are collapsed, then expand them -->
        <a ng-if="!post.showComments" ng-click="viewComments(post)" class="m-post-expand m-post-link" href="">Expand</a>

        <!-- If the comments are expanded, then collapsed them -->
        <a ng-if="post.showComments" ng-click="hideComments(post)" class="m-post-expand m-post-link" href="">Collapse</a>

        <!-- Determines what direction the toggle arrow is pointing -->
        <div ng-class="{ 'ico-toggle-expand': !post.showComments, 'ico-toggle-collapse': post.showComments }"
             class="ico-toggle l-ico-post-expand-toggle"></div>
    </div>

</div>


<!-- POST PICTURE -->
<img ng-if="post.containsPicture" ng-src="img/pics/{{post.pic}}" class="m-post-image l-post-image" alt="post image" />


<!-- POST COMMENTS -->
<div ng-if="post.showComments" class="m-comment-container">

    <article class="m-comment" ng-repeat="comment in post.comments">

        <div class="m-post-liner l-post-liner">
            <img class="l-post-avatar" ng-src="img/avatars/{{comment.avatar}}" alt="avatar" />

            <h4 class="m-post-title l-post-title">
                <a href="">{{comment.name}}</a>
            </h4>

            <ul class="meta l-meta-top">
                <li><div class="ico-reply"></div></li>
                <li><div class="ico-like"></div></li>
                <li><span class="m-post-age">{{comment.postAge}}</span></li>
            </ul>

            <p class="m-post-text l-post-text" ng-bind-html="comment.message"></p>
        </div>

    </article>

    <div class="m-comment-reply-container">
        <input class="m-comment-reply-input" type="text" placeholder="Reply..." />
    </div>

</div>
