
<!--

    "SIMPLE MODAL" DIRECTIVE TEMPLATE

    Directive that displays our simple modal

-->
<div ng-show="show" class="m-modal-container">

    <div ng-click="hide()" class="m-modal-overlay"></div>

    <div class="m-modal l-modal">
        <div ng-click="hide()" class="m-modal-close ico-close-modal" title="Close Modal"></div>
        <div class="m-modal-content" ng-transclude></div>
    </div>

</div>
