
/* IMPORT VENDOR STYLES AND WEBFONTS  */
@import "vendor.less";
@import "type.less";


/* ====================================================================================================

	SET SITE WIDE LESS VARIABLES

	Defines the global less variables for the Simply Social application

======================================================================================================= */

@darkest-gray : #262728;
@dark-gray : #3f454d;
@gray : #70767f;
@light-gray : #bec3cc;
@lightest-gray : #dee1e5;
@off-white : #f9fafc;

@light-font : 'proxima_novalight';
@regular-font : 'proxima_nova_rgregular';
@bold-font : 'proxima_novasemibold';

@header-bar-color : @darkest-gray;
@header-bar-search-border-color : @gray;

@post-border-color : @lightest-gray;
@post-header-color : @dark-gray;
@post-body-color : @gray;
@post-link-color : @light-gray;

@modal-background : #dee1e6;

@accent-color : #00cc99;



/* ====================================================================================================

	SET BASE STYLES

	Defines our base styles for the application: h1, p, etc...

======================================================================================================= */

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: @regular-font;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

p {
    color : @gray;
    line-height: 24px;
}

h1 {
    font-family: @regular-font;
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

header {
    padding-top: 15px;
    padding-bottom: 7px;
    background-color: @header-bar-color;
}

h1 .simply {
    color: @gray;
    font-family: @regular-font;
    font-weight: lighter;
}

h1 .social {
    color: @light-gray;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    color: @gray;
    text-transform: uppercase;
}

footer {
    border-top: 1px solid #eee;
    padding-top: 31px;
    position: relative;
    margin-top: -227px;
    height: 227px;
    clear:both;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 227px;
    margin-bottom: 75px;
}



[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    left: -9999px;
}

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    position: relative;
    padding-left: 49px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -ms-transition: 0.28s ease;
    transition: 0.28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    color: @gray;
}

[type="radio"]:checked + label {
    position: relative;
    padding-left: 49px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -ms-transition: 0.28s ease;
    transition: 0.28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    color: @gray;
}

[type="radio"]:checked + label:before {
    border-radius: 50%;
    border: 1px solid @light-gray;
}

[type="radio"]:not(:checked) + label:before {
    border-radius: 50%;
    border: 1px solid @light-gray;
}

[type="radio"]:checked + label:after {
    border-radius: 50%;
    border: 1px solid @accent-color;
    background-color: @accent-color;
    z-index: 0;
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}

[type="radio"]:not(:checked) + label:after {
    border-radius: 50%;
    border: 2px solid #5a5a5a;
    z-index: -1;
    -ms-transform: scale(0);
    transform: scale(0);
}


[type="radio"] + label:before,
[type="radio"] + label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 23px;
    height: 23px;
    z-index: 0;
    -ms-transition: 0.28s ease;
    transition: 0.28s ease;
}



/* ====================================================================================================

	IMPORT LAYOUTS, MODULES AND STATES

	Import less styles that we have broken into their own sheet.

======================================================================================================= */

// IMPORT GLOBAL/SITE WIDE STYLES HERE
// *NOTE* - THIS FORMAT ADHERES TO SMACSS (http://smacss.com/)
@import "responsive-helpers.less";
@import "modules.less";
@import "layouts.less";

// IMPORT PAGE/TEMPLATE LEVEL STYLES HERE
@import "../app/feed/feed.less";
@import "../app/posts/posts.less";
@import "../app/settings/settings.less";

// IMPORT ICONS
@import "icons.less";

