
/* ====================================================================================================

	ICON STYLES

    Icon styles for Simply Social

======================================================================================================= */


.ico-add-photo-gray,
.ico-add-photo,
.ico-add-video-gray,
.ico-add-video,
.ico-close-modal,
.ico-like,
.ico-list-active,
.ico-list-inactive,
.ico-list,
.ico-logo,
.ico-mail,
.ico-new-message,
.ico-password,
.ico-reply,
.ico-search-glass,
.ico-tile-active,
.ico-tile-inactive,
.ico-tile,
.ico-toggle-collapse,
.ico-toggle-expand,
.ico-username{
    background: url(../img/icons/sprites.png) no-repeat;
}

.ico-add-photo-gray{
    background-position: -12px -7px ;
    width: 18px;
    height: 13px;
    display: inline-block;
    cursor: pointer;
}

.ico-add-photo{
    background-position: -60px -11px ;
    width: 18px;
    height: 13px;
    display: inline-block;
    cursor: pointer;
}

.ico-add-video-gray{
    background-position: -105px -9px ;
    width: 18px;
    height: 13px;
    display: inline-block;
    cursor: pointer;
}

.ico-add-video{
    background-position: -160px -11px ;
    width: 18px;
    height: 13px;
    display: inline-block;
    cursor: pointer;
}

.ico-close-modal{
    background-position: -205px 0;
    width: 21px;
    height: 21px;
    display: inline-block;
    cursor: pointer;
}

.ico-like{
    background-position: -258px -6px ;
    width: 13px;
    height: 13px;
    display: inline-block;
    cursor: pointer;
}

.ico-list-active,
.ico-list:hover {
    background-position: -309px -5px !important;
    width: 9px;
    height: 9px;
    display: inline-block;
    cursor: pointer;
}

.ico-list-inactive,
.ico-list {
    background-position: -369px -10px ;
    width: 9px;
    height: 9px;
    display: inline-block;
    cursor: pointer;
}

.ico-logo{
    background-position: 0 -43px ;
    width: 27px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
}

.ico-mail{
    background-position: -54px -49px ;
    width: 16px;
    height: 13px;
    display: inline-block;
    cursor: pointer;
}

.ico-new-message{
    background-position: -98px -43px ;
    width: 31px;
    height: 26px;
    display: inline-block;
    cursor: pointer;
}

.ico-password{
    background-position: -154px -50px ;
    width: 16px;
    height: 17px;
    display: inline-block;
    cursor: pointer;
}

.ico-reply{
    background-position: -204px -52px ;
    width: 13px;
    height: 13px;
    display: inline-block;
    cursor: pointer;
}

.ico-search-glass{
    background-position: -256px -54px;
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
}

.ico-tile-active,
.ico-tile:hover {
    background-position: -306px -54px !important;
    width: 9px;
    height: 9px;
    display: inline-block;
    cursor: pointer;
}

.ico-tile-inactive,
.ico-tile {
    background-position: -362px -57px;
    width: 9px;
    height: 9px;
    display: inline-block;
    cursor: pointer;
}


.ico-toggle-collapse{
    background-position: -7px -105px ;
    width: 7px;
    height: 4px;
    display: inline-block;
    cursor: pointer;
}

.ico-toggle-expand{
    background-position: -61px -105px ;
    width: 7px;
    height: 4px;
    display: inline-block;
    cursor: pointer;
}

.ico-username{
    background-position: -116px -102px ;
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
}





//
//.ico-add-photo,
//.ico-add-video,
//.ico-like,
//.ico-list,
//.ico-logo,
//.ico-mail,
//.ico-new-message,
//.ico-password,
//.ico-reply,
//.ico-search-glass,
//.ico-tile,
//.ico-toggle,
//.ico-username{
//    background: url(../img/icons/sprites.png) no-repeat;
//}
//
//.ico-add-photo {
//    background-position: -4px -2px ;
//    width: 18px;
//    height: 13px;
//    display: inline-block;
//    cursor: pointer;
//}
//
//.ico-add-video {
//    background-position: -50px 0;
//    width: 18px;
//    height: 13px;
//    display: inline-block;
//    cursor: pointer;
//}
//
//.ico-like {
//    background-position: -113px -5px ;
//    width: 13px;
//    height: 13px;
//    display: inline-block;
//    cursor: pointer;
//}
//
//.ico-list {
//    background-position: -156px -2px ;
//    width: 9px;
//    height: 9px;
//    display: inline-block;
//    cursor: pointer;
//}
//
//.ico-logo {
//    background-position: 0 -45px ;
//    width: 27px;
//    height: 25px;
//    display: inline-block;
//    cursor: pointer;
//}
//
//.ico-mail {
//    background-position: -53px -58px ;
//    width: 16px;
//    height: 13px;
//    display: inline-block;
//    cursor: pointer;
//}
//
//.ico-new-message {
//    background-position: -98px -47px ;
//    width: 31px;
//    height: 26px;
//    display: inline-block;
//    cursor: pointer;
//}
//
//.ico-password {
//    background-position: -153px -57px ;
//    width: 16px;
//    height: 17px;
//    display: inline-block;
//    cursor: pointer;
//}
//
//.ico-reply {
//    background-position: -8px -106px ;
//    width: 13px;
//    height: 13px;
//    display: inline-block;
//    cursor: pointer;
//}
//
//.ico-search-glass{
//    background-position: -56px -105px ;
//    width: 16px;
//    height: 16px;
//    display: inline-block;
//    cursor: pointer;
//}
//
//.ico-tile{
//    background-position: -112px -103px ;
//    width: 9px;
//    height: 9px;
//    display: inline-block;
//    cursor: pointer;
//}
//
//.ico-toggle{
//    background-position: -154px -104px ;
//    width: 7px;
//    height: 4px;
//    display: inline-block;
//    cursor: pointer;
//}
//
//.ico-username{
//    background-position: -5px -151px ;
//    width: 16px;
//    height: 16px;
//    display: inline-block;
//    cursor: pointer;
//}
//
