
/* ====================================================================================================

	LAYOUTS

    Site wide layouts

======================================================================================================= */

.l-logo-container {
    position: relative;
    display: inline-block;
}

.l-logo {
    margin-right: 8px;
}

.l-logo-title {
    position: relative; top: -5px;
}

.l-header-search-control {
    top: 3px;
    position: relative;
    display: inline-block;
    margin-left: 23px;
    margin-right: 23px;
}

.l-ico-search-glass {
    position: absolute;
    right: 8px;
    top: 7px;
}

.l-ico-new-message,
.l-header-settings-avatar {
    top: 14px;
    position: relative;
}

.l-header-controls {
    float: right;
    top: -11px;
    position: relative;
}

.l-modal {
    position: absolute;
    top: 15%;
    left: 25%;
    right: 25%;
    margin-right: auto;
    margin-left: auto;
}

.l-create-new-message-title {
    margin-top: 0;
    margin-bottom: 14px;
    position: relative;
    top: -2px;
}

.l-create-new-message-add-photo,
.l-create-new-message-add-video {
    display:inline-block;
    margin-top: 17px;
}

.l-create-new-message-button {
    float:right;
    margin-top: 10px;
}

.l-footer-nav {
    margin-left: auto;
    margin-right: auto;
}











