
/* ====================================================================================================

	MODULES

    Site wide modules

======================================================================================================= */

.m-header-search-input {
    width: 200px;
    height: 30px;
    border: 1px solid @dark-gray;
    border-radius: 4px;
    background-color: @darkest-gray;
    color: @gray;
    padding-left: 5px;
    padding-right: 5px;
}

.m-header-settings-avatar {
    border-radius: 3px;
    margin-right: 8px;
}


.m-modal-overlay {
    position:absolute;
    z-index:9999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity: 0.8;
}

.m-modal {
    z-index: 9999;
    width: 575px;
    max-width: 575px;
    height: 215px;
    max-height: 215px;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 25px;
    background-color: @modal-background;
}

.m-modal-content {
    text-align: left;
}

.m-modal-close {
    position: absolute;
    top: -21px;
    right: -27px;
    cursor: pointer;
    display: inline-block;
}

.m-create-new-message-title {
    color: @gray;
    font-size: 17px;
    font-weight: 100;
}

.m-create-new-message-add-photo span,
.m-create-new-message-add-video span {
    color: @gray;
    margin-left: 6px;
 }

.m-create-new-message-textarea {
    width: 100%;
    color: @gray;
    font-size:32px;
    border-radius: 4px;
    border:none;
    height: 88px;
}

.m-btn {
    font-family: @regular-font;
    font-size: 14px;
    box-sizing: border-box;
    cursor: pointer;
    display:inline-block;
    text-decoration:none;
    border-radius: 3px;
    transition: background-color 300ms ease-out;
}

.m-btn-default {
    background-color: #00b286;
    color: #fff;
    padding: 10px 24px;
}

.m-btn-change-avatar {
    background-color: #fff;
    color: @light-gray;
    font-family: @light-font;
    font-weight: 100;
    border: 1px solid @light-gray !important;
    padding: 5px 19px;
}

.m-btn-change-avatar:hover {
    background-color: @lightest-gray;
    color: @gray;
}

.m-btn-default:hover {
    background-color: #007851;
}

button.m-btn,
button.m-btn:active,
button.m-btn:focus,
input[type="submit"].m-btn,
input[type="submit"].m-btn:active,
input[type="submit"].m-btn:focus {
    border-style: solid;
    border-width: 0;
    box-shadow: 0;
    outline: none;
}


.m-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.m-toggle + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    -ms-user-select: none;
    user-select: none;
}

.m-toggle-round-flat + label {
    width: 53px;
    height: 30px;
    padding: 2px;
    -ms-border-radius: 60px;
    border-radius: 30px;
    transition: background 0.4s;
}

.m-toggle-round-flat + label:before,
.m-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
}

.m-toggle-round-flat + label:before {
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background-color: #dee1e5;
    -ms-border-radius: 60px;
    border-radius: 27px;
    transition: background 0.4s;
}


.m-toggle-round-flat + label:after {
    top: 3px;
    bottom: 4px;
    left: 4px;
    width: 24px;
    height: 24px;
    background-color: #fff;
    -ms-border-radius: 52px;
    border-radius: 24px;
    transition: margin 0.4s, background 0.4s;
}


.m-toggle-round-flat:checked + label:after {
    margin-left: 21px;
    background-color: #fff;
}

.m-toggle-round-flat:checked + label:before {
    background-color: @accent-color;
}

.m-toggle-text {
    position: relative;
    top: -10px;
    margin-left: 25px;
    font-size: 16px;
    color: #70767f;
}

.m-popover {
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
}


.m-popover:hover ul {
    visibility: visible;
    opacity: 1;
}

.m-popover ul {
    top: 55px;
    margin: 0;
    padding: 0;
    width: 96px;
    visibility: visible;
    z-index: 10000;
    opacity: 0;
    position: absolute;
    left: -28px;
    right: 0;
    border-radius: 3px;
    -ms-transition-property: opacity, padding, visibility;
    transition-property: opacity, padding, visibility;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    background-color: #F4F5F7;
}

.m-popover ul:before,
.m-popover ul:after,
.m-popover li:first-child:after {
    display: block;
    content:'';
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    border: 7px outset transparent;
}

.m-popover ul:before {
    border-bottom: 7px solid #555;
    top: -14px;
}

.m-popover li:first-child:after {
    border-bottom: 7px solid #fff;
    top: -13px;
}

.m-popover ul:after {
    border-bottom: 7px solid #EEF3FE;
    top: -12px;
}

.m-popover li {
    padding: 9px 16px 6px 16px;
    font-size: 11px;
    color: #f4f5f7;
    list-style-type: none;
    border-bottom: 1px solid @lightest-gray;
}

.m-popover li:last-child{
    border-bottom: 0 solid @light-gray;
}

.m-popover li a {
    display: block;
    position: relative;
    text-decoration: none;
    color: @gray;
    font-size: 13px;
}
.m-popover li a:hover {
    color: @dark-gray;
    text-decoration: none;
}


.m-footer-nav {
    width: 421px;
}

.m-footer-nav a {
    margin-right: 24px;
    color: @accent-color;
    text-decoration: none;
}

.m-footer-nav span {
    color: @gray;
}

.m-footer-nav a,
.m-footer-nav span {
    text-transform: uppercase;
    font-size: 11px;
    font-family: @bold-font;
}
