

/* ====================================================================================================

	SET WEB FONTS

	Defines our application wide WebFonts.

======================================================================================================= */


@font-face {
    font-family: 'proxima_novablack';
    src: url('../type/proximanova-black-webfont.eot');
    src: url('../type/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../type/proximanova-black-webfont.woff2') format('woff2'),
    url('../type/proximanova-black-webfont.woff') format('woff'),
    url('../type/proximanova-black-webfont.ttf') format('truetype'),
    url('../type/proximanova-black-webfont.svg#proxima_novablack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../type/proximanova-regular-webfont.eot');
    src: url('../type/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../type/proximanova-regular-webfont.woff2') format('woff2'),
    url('../type/proximanova-regular-webfont.woff') format('woff'),
    url('../type/proximanova-regular-webfont.ttf') format('truetype'),
    url('../type/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../type/proximanova-semibold-webfont.eot');
    src: url('../type/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../type/proximanova-semibold-webfont.woff2') format('woff2'),
    url('../type/proximanova-semibold-webfont.woff') format('woff'),
    url('../type/proximanova-semibold-webfont.ttf') format('truetype'),
    url('../type/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novaextrabold';
    src: url('../type/proximanova-extrabld-webfont.eot');
    src: url('../type/proximanova-extrabld-webfont.eot?#iefix') format('embedded-opentype'),
    url('../type/proximanova-extrabld-webfont.woff2') format('woff2'),
    url('../type/proximanova-extrabld-webfont.woff') format('woff'),
    url('../type/proximanova-extrabld-webfont.ttf') format('truetype'),
    url('../type/proximanova-extrabld-webfont.svg#proxima_novaextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_novalight';
    src: url('../type/proximanova-light-webfont.eot');
    src: url('../type/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../type/proximanova-light-webfont.woff2') format('woff2'),
    url('../type/proximanova-light-webfont.woff') format('woff'),
    url('../type/proximanova-light-webfont.ttf') format('truetype'),
    url('../type/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_condensedlight';
    src: url('../type/proximanovacond-light-webfont.eot');
    src: url('../type/proximanovacond-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../type/proximanovacond-light-webfont.woff2') format('woff2'),
    url('../type/proximanovacond-light-webfont.woff') format('woff'),
    url('../type/proximanovacond-light-webfont.ttf') format('truetype'),
    url('../type/proximanovacond-light-webfont.svg#proxima_nova_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
