

/* ====================================================================================================

	VENDOR STYLES

    3rd party specific styles

======================================================================================================= */

.m-post-tiles > .masonry-brick {
    margin: 1em;
    display: none;
}

.masonry-brick.loaded {
    display: block;
}


[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}
