<div masonry class="m-post-tiles l-posts" >

    <article ng-repeat="post in vm.posts | orderBy: 'id' track by post.id"
             simple-post="post"
             class="masonry-brick m-tile">
    </article>

</div>
