<div masonry class="m-post-list l-posts">

    <article ng-repeat="post in vm.posts | orderBy: 'id' track by post.id"
             simple-post="post"
             class="masonry-brick m-post l-post">
    </article>

</div>
