
<div class="l-settings-layout">

    <h2 style="font-size: 30px; color: #3f454d; margin-top: 49px; margin-bottom: 0; font-weight: 200;">Settings</h2>

    <form>


        <section class="m-settings-section">
            <h3>account</h3>

            <div class="l-settings-change-avatar">
                <img class="l-settings-avatar" src="img/avatars/settings-avatar.jpg" alt="settings avatar"/>

                <button class="m-btn m-btn-change-avatar" title="click to change avatar">change</button>
            </div>


            <ul class="m-settings-control-group l-settings-account-control-group">
                <li class="m-settings-fieldset">
                    <label class="m-settings-control-label ico-username l-settings-control-label" for="username">Username</label>
                    <input class="m-settings-input" id="username" type="text" />
                </li>

                <li class="m-settings-fieldset">
                    <label class="m-settings-control-label ico-mail l-settings-control-label" for="email">E-mail</label>
                    <input class="m-settings-input" id="email" type="text" />
                </li>

                <li class="m-settings-fieldset">
                    <label class="m-settings-control-label ico-password l-settings-control-label" for="password">Password</label>
                    <input class="m-settings-input" id="password" type="password" />
                    <span class="m-settings-input-annotation l-settings-input-annotation">change</span>
                </li>
            </ul>
        </section>


        <section class="m-settings-section">
            <h3>notifications</h3>

            <ul class="m-settings-control-group l-settings-control-group">
                <li>
                    <input id="emailWhenMarkedAsFavorite" class="m-toggle m-toggle-round-flat" type="checkbox" checked/>
                    <label for="emailWhenMarkedAsFavorite"></label>
                    <label for="emailWhenMarkedAsFavorite" class="m-toggle-text">email me when my posts are marked as favorites</label>
                </li>
                <li>
                    <input id="emailWhenMentioned" class="m-toggle m-toggle-round-flat" type="checkbox"/>
                    <label for="emailWhenMentioned"></label>
                    <label for="emailWhenMentioned" class="m-toggle-text">email me when I'm mentioned</label>
                </li>
                <li>
                    <input id="emailWhenReplyReceived" class="m-toggle m-toggle-round-flat" type="checkbox"/>
                    <label for="emailWhenReplyReceived"></label>
                    <label for="emailWhenReplyReceived" class="m-toggle-text">email me when I get a reply</label>
                </li>
                <li>
                    <input id="emailWhenFollowed" class="m-toggle m-toggle-round-flat" type="checkbox"/>
                    <label for="emailWhenFollowed"></label>
                    <label for="emailWhenFollowed" class="m-toggle-text">email me when someone follows me</label>
                </li>
            </ul>
        </section>


        <section class="m-settings-section">
            <h3>privacy</h3>

            <ul class="m-settings-control-group l-settings-control-group">
                <li>
                    <input class="m-radio-btn" id="allowAnyoneToTagMe" name="privacy" type="radio" checked/>
                    <label for="allowAnyoneToTagMe">allow anyone to tag me</label>
                </li>
                <li>
                    <input id="onlyAllowPeopleIFollowToTagMe" name="privacy" type="radio"/>
                    <label for="onlyAllowPeopleIFollowToTagMe">only allow people I follow to tag me</label>
                </li>
                <li>
                    <input id="dontAllowPeopleToTagMe" name="privacy" type="radio"/>
                    <label for="dontAllowPeopleToTagMe">don't allow anyone to tag me</label>
                </li>
            </ul>


            <ul class="m-settings-control-group l-settings-privacy-multi-choice">
                <li>
                    <input id="addLocationToPosts" value="addLocationToPosts" type="radio" checked/>
                    <label for="addLocationToPosts">add a location to my posts</label>
                </li>
                <li>
                    <input id="letOthersFindMeByEmail" value="letOthersFindMeByEmail" type="radio" checked/>
                    <label for="letOthersFindMeByEmail">let others find me by my email address</label>
                </li>
                <li>
                    <input id="taylorAdsBasedOnInfo" value="taylorAdsBasedOnInfo" type="radio"/>
                    <label for="taylorAdsBasedOnInfo">taylor ads based on my information</label>
                </li>
            </ul>
        </section>


        <button style="margin-top: 50px; margin-bottom: 100px; width: 148px; height: 41px;" class="m-btn m-btn-default">Save Changes</button>


    </form>

</div>
