
/* ====================================================================================================

	SETTINGS STYLES

    modules and layouts for the "Settings" module

======================================================================================================= */

.m-settings-section {
    border-bottom: 1px solid @lightest-gray;
    padding: 50px 0;
}

.m-settings-fieldset {
    position: relative;
    margin-bottom: 20px;
}

.m-settings-fieldset:last-child {
    position: relative;
    margin-bottom: 0;
}

.m-settings-control-label {
    background: url(../img/icons/sprites.png) no-repeat;
}

.m-settings-control-label.ico-username,
.m-settings-control-label.ico-mail,
.m-settings-control-label.ico-password {
    color:transparent;
}

.m-settings-input {
    padding: 12px 12px 12px 40px;
    border-radius: 3px;
    border: 1px solid @light-gray;
    width: 365px;
    color: @gray;
}

.m-settings-control-group {
    padding-left: 0;
}

.m-settings-control-group li {
    list-style-type: none;
}

.m-settings-input-annotation {
    color: @light-gray;
}




.l-settings-layout {
    width: 579px;
    margin-left: auto;
    margin-right: auto;
}

.l-settings-change-avatar {
    display: inline-block;
    margin-top: 21px;
    margin-right: 46px;
    vertical-align: top;
}

.l-settings-control-group {
    margin-top: 35px;
}

.l-settings-control-group li {
    margin-bottom: 10px;
}

.l-settings-control-group li:last-child {
    margin-bottom: 0;
}

.l-settings-control-label {
    display: inline-block;
    position: absolute;
    left: 13px;
    top: 35%;
    bottom: auto;
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    text-shadow: none;
}

.l-settings-account-control-group {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 5px;
}

.l-settings-avatar {
    display: block;
    margin-bottom:10px;
}

.l-settings-input-annotation {
    position: absolute;
    right: 20px;
    top: 14px;
}

.l-settings-privacy-multi-choice {
    margin-top: 23px;
}

.l-settings-privacy-multi-choice li {
    margin-bottom: 23px;
}

.l-settings-privacy-multi-choice li:last-child {
    margin-bottom: 0;
}
